html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Nunito;
    src: url(./fonts/Nunito/Nunito-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    overflow-x: hidden;
    font-family: nunito;
    background-color: rgb(231, 228, 207);
    /* background-color: #eee; */
}

main {
    position: relative;
}

.name {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(231, 228, 207);
    /* background-color: #eee; */
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

h1,
ul>header,
h2,
ul>li {
    text-transform: capitalize;
}

h1 {
    font-size: 36px;
    text-align: center;
}

nav {
    position: fixed;
    top: 50px;
    background-color: rgb(88, 86, 86);
    width: 13%;
    min-width: 120px;
    height: 100%;
    z-index: -1;
}

nav ul>header {
    list-style-type: none;
    padding-top: 35px;
    padding-left: 30px;
}

nav ul>header:first-of-type {
    padding-top: 60px;
}

nav ul>header:nth-child(3) {
    padding-bottom: 30px;
}

nav ul>header a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

hr {
    height: 1px;
    background-color: #eee;
    border: none;
}

.container {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 84%;
    z-index: -1;
}

.space-up {
    padding-top: 25px;
}

h2 {
    font-size: 30px;
    padding: 10px 0 20px 0;
}

p {
    padding-bottom: 18px;
    line-height: 25px;
}

.code-container {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(243, 224, 146);
}

#otherul {
    padding-left: 40px;
}

#otherlist {
    list-style-type: circle;
    padding: 8px 0 10px 0;
}

.space-down {
    padding-bottom: 25px;
}


/* @media only screen and (max-width:760px) {
                                                                                          nav {
                                                                                              display: none;
                                                                                          }
                                                                                          .container {
                                                                                              width: 90%;
                                                                                              margin: 0 auto;
                                                                                          }
                                                                                      }
                                                                                      
                                                                                      @media only screen and (max-width:960px) {
                                                                                          nav ul>header {
                                                                                              padding-left: 8px;
                                                                                          }
                                                                                          .container {
                                                                                              width: 80%;
                                                                                          }
                                                                                      } */


/* media query attribute for fcc */

@media (max-width: 760px) {
    nav {
        display: none;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
}

@media (max-width: 960px) {
    nav ul>header {
        padding-left: 8px;
    }
    .container {
        width: 80%;
    }
}